
/* Footer */
.footer {
  padding: 50px;
  color: #ffffff;
  width: 100%;
  height: 100vh; /* Ocupa el 100% de la altura de la pantalla */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: center; /* Centra verticalmente el contenido */
  position: relative; 
  background: transparent; /* Transparente para ver el video de fondo */
  z-index: 1; /* Asegura que el contenido esté encima del video */

}


.footerTextContainer {
  background-color: rgba(8, 25, 131, 0.1); /* Fondo semi-transparente */
  padding: 100px;
  padding-right: 160px;
  border-radius: 50px; /* Bordes redondeados */
  text-align: right; /* Alineación del texto a la derecha */
  max-width: 600px; /* Ancho máximo del contenedor */
  z-index: -0.8; /* Asegura que el contenedor esté encima del video */
  position: absolute;
  left: 200px;
  

}

.footerText {
  margin: 33px 0;
  color:white;   /* Color del texto */
  font-size:x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.marte {
  position: fixed; /* Fija el video para que cubra toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás del contenido */
}



.footerIcon {
  position: absolute;
  width: 100px; /* Ajusta el tamaño del ícono */
  height: 100px; /* Ajusta el tamaño del ícono */
  right: 30px;
  top: 405px;

  
}

.footerBan{
  position:absolute;
  width:100px;
  height: 100px;
  right: 30px;
  top: 232px;
}

.footerEmail{
 position: absolute;
 width:100px ;
 height: 100px;
  top: 80px;
  right:30px;
}

.github-link {
  display: flex;
  align-items: center;
  text-decoration:double;
  color: inherit;
  left: px;
}

.github-text {
  margin-left: 160px;
  top: 570px;
  position: absolute;
  font-size:x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.GitHubIcon{

  position:absolute;
  width:100px;
  height: 100px;
  right: 20px;
  top: 530px;
  
}