

  

.text {
    text-align: center;
    color: #f0f0f0;
    font-size: 2rem;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    opacity: 0.9;
    border-radius: 20px;
    margin-top: 100px; /* Espacio suficiente para que el texto no se sobreponga */
    animation: typing 6.5s steps(40, end), blink-caret .75s step-end infinite;
    letter-spacing: .15em; /* Adds some spacing for readability */
    overflow: hidden; /* Ensures text stays within bounds */
    white-space: nowrap;
    
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


.button-container {
    display: flex;
    gap: 200px; /*SEPARA LOS BOTONES HORIZONTALMENTE */
    position: fixed; /* Los botones estarán fijos en la parte superior */
    top: 20px; /* Coloca los botones cerca de la parte superior */
    left: 50%;
    transform: translateX(-50%); /* Centra los botones horizontalmente */
}


button {
    padding: 10px 20px;
    font-size: 0.7rem;
    color:rgb(251, 248, 248);
   opacity: 0.8;
    border-radius: 20px;
    text-align: center;
    font-family: Jost, sans-serif;
    font-weight: bold;
    background-color:black;
}


.back{

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1; /* Coloca el video detrás del contenido */
}