/* src/components/styles/Perfil.css */

/* Asegúrate de que el contenedor ocupe toda la pantalla */
body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Color de fondo ligero para un mejor contraste */
    overflow: hidden; /* Evita el desbordamiento */
    position: relative;
  }
  
  .back {
    position: fixed; /* Asegura que el video esté fijo en el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca el video detrás del contenido */
  }
  
  .perfil-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgba(13, 11, 11, 0.5); /* Fondo blanco con transparencia */
    width: 400px; /* Ajusta el ancho para que no sea más alto que ancho */
    font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
    box-shadow: 0 4px 8px rgba(10, 36, 229, 0.8); /* Sombra para darle profundidad */
    text-align: center;
    position: relative; /* Asegura que el contenedor esté sobre el video */
    z-index: 1;
    left: 500px;
  }

  .txtH{
    color: white;
    
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
  letter-spacing: .15em; /* Adds some spacing for readability */
  overflow: hidden; /* Ensures text stays within bounds */
  white-space: nowrap;
  }
  
  .skills-section {
    margin-bottom: 20px; /* Añade espacio entre la sección de habilidades y el video */
  }
  
  .skills-list {
    list-style-type: square;
    padding-left: 20px;
    text-align: left; /* Alinea el texto a la izquierda para mejor legibilidad */
    animation: typing 4.5s steps(40, end), blink-caret .75s step-end infinite;
    letter-spacing: .15em; /* Adds some spacing for readability */
   overflow: hidden; /* Ensures text stays within bounds */
   white-space: nowrap;
  }
  
  .skills-list li {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #f7f4f4; /* Color gris para un contraste suave */
  }
  
  /* Agrega transiciones y animaciones para más dinamismo */
  .skills-list li:hover {
    color: #fffdfd; /* Cambia el color al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    transition: transform 0.2s, color 0.2s; /* Transiciones suaves */
  }
  
  footer {
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  