/* src/components/ImageGallery.css */
body{

    background-color:black;

}


  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .txt {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #f0f0f0;
    font-family: "Black Ops One", system-ui;
    font-weight: bold;
    font-size: 4rem;
    opacity: 0.9;
    border-radius: 20px;
    animation: typing 4.5s steps(20, end), blink-caret .75s step-end infinite;
    animation-fill-mode: forwards; /* Mantiene el estado al final de la animación */
    letter-spacing: .15em; /* Añade un poco de espaciado para la legibilidad */
    overflow: hidden; /* Asegura que el texto permanezca dentro de los límites */
    white-space: nowrap;
  }
  

  
  .gallery-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px; /* Ajusta el margen superior del contenedor de la galería */
  }
  
  .gallery-grid {
    display: flex; /* Utiliza flexbox para alineación horizontal */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra las imágenes en el contenedor */
    gap: 50px;
  }
  
  .gallery-item {
    flex: 0 1 200px; /* Asegura que los elementos no se expandan más allá del contenido */
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .gallery-item:hover {
    transform: scale(1.5); /* Ajustar el tamaño del hover según prefieras */
  }
  
  .gallery-item img {
    width: 300px; /* Ancho consistente para todas las imágenes */
    height: 300px; /* Altura consistente para todas las imágenes */
    object-fit: cover; /* Asegura que las imágenes se escalen correctamente */
    border-radius: 8px;
  }
  
  .ind {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 700px;/* Empuja el elemento hacia la parte inferior */
    animation: typing 7.5s steps(20, end), blink-caret .75s step-end infinite;
    animation-fill-mode: forwards; /* Mantiene el estado al final de la animación */
    letter-spacing: .15em; /* Añade un poco de espaciado para la legibilidad */
    overflow: hidden; /* Asegura que el texto permanezca dentro de los límites */
    white-space: nowrap;
    color: white;
  }
  
  .btnA{
    display: flex;
  
    position: fixed; /* Los botones estarán fijos en la parte superior */
    top: 20px; /* Coloca los botones cerca de la parte superior */
    left: 90%;
    transform: translateX(-50%); /* Centra los botones horizontalmente */
    
  }